/* components/Home/Banner.module.css */

/* Removed the @import statement for the font */

/* Wrapper styling to ensure proper positioning */
.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 6rem; /* Equivalent to py-24 */
  padding-bottom: 6rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

/* Semi-transparent overlay for better text readability */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Equivalent to bg-black opacity-20 */
  z-index: 10;
}

/* Container to hold content above the overlay */
.content {
  position: relative;
  z-index: 20;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 auto; /* Equivalent to px-4 */
}

/* Styling for the SVG */
.animatedSvg {
  /* Removed font-family as it's now handled by next/font */
  width: 100%;
  height: auto;
}

/* Styling for the animated text within SVG */
.animatedText {
  animation: stroke 12s infinite alternate;
  stroke-width: 2;
  stroke: #ffffff;
  font-size: 3rem; /* Adjust as needed */
  fill: rgba(72, 138, 204, 0); /* Initial fill transparent */
}

/* Keyframes for the stroke animation */
@keyframes stroke {
  0% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgb(255, 255, 255);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgb(255, 255, 255);
  }
  80% {
    fill: rgba(72, 138, 204, 0);
    stroke: rgb(255, 255, 255);
    stroke-width: 3;
  }
  100% {
    fill: rgb(255, 255, 255);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

/* Extra Small Devices (Portrait Phones, <576px) */
@media (max-width: 575.98px) {
  .animatedText {
    font-size: 2.5rem; /* Adjust for very small screens */
  }
}

/* Small Devices (Landscape Phones, ≥576px and <768px) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .animatedText {
    font-size: 3rem; /* Adjust for small screens */
  }
}

/* Medium Devices (Tablets, ≥768px and <992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .animatedText {
    font-size: 3.5rem; /* Adjust for medium screens */
  }
}

/* Large Devices (Desktops, ≥992px and <1200px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .animatedText {
    font-size: 3.5rem; /* Adjust for large screens */
  }
}

/* Extra Large Devices (Large Desktops, ≥1200px) */
@media (min-width: 1200px) {
  .animatedText {
    font-size: 3.5rem; /* Default font size for extra large screens */
  }
}
